body{
	margin: 0px;
}
.banner6{
	position: relative;
	height: 40vh;
	width: 100%;
	background-image: url(Images/background2.jpg);
	background-size: cover;
	background-attachment: fixed;
	display: table;
}
.banner6a{
	position: absolute;
	height: 40vh;
	width: 100%;
	background-color: black;
	opacity: 0.7;
}
.banner6a ul{
	text-align: center;
	list-style-type: none;
}
.banner6a li{
	display: inline-block;
	margin: 0 100px;
	text-align: center;
	margin-top: 30px;
}
.banner6a i{
	color:#6195ff;
	font-size: 36px;
}
.banner6a h2{
	font-size: 36px;
	font-family: montserrat,sans-serif;
	font-weight: 700;
	color: white;
} 
.banner6a p{
	font-family: varela round,sans-serif;
	font-size: 16px;
	line-height: 1.6;
	color: white;
	text-align: center;
}
@media screen and (max-width: 600px){
	.banner6{
		height: 190vh;
	}
	.banner6a{
		height: 190vh;
	}
	.banner6a1 li{
		display: block;
	}
}